body {font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color:#ffffff;
}

ul {list-style: none;}

a {text-decoration: none;}
/* =========================HEDER========================*/
                .header {}
        
                .header-navigation {}
        
                .header-navigation-link {color: #4D5AE5;
                    font-size: 18px;
                    font-family: Raleway;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1.16;
                    letter-spacing: 0.03em;
                    word-wrap: break-word}
        
                .header-link-studio {
                    color: #2E2F42;
                    font-size: 18px;
                    font-family: Raleway;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1.16;
                    letter-spacing: 0.03em;
                    word-wrap: break-word}
        
                .header-list {}
        
                .heder-list-item {
                  }
        
                .heder-list-link {
                    color: #2E2F42;
                    font-size: 16px;
                    font-family: Roboto;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    word-wrap: break-word}
                    
                .heder-list-link:hover {color: #404bbf;}

                .heder-list-link:focus {color: #404bbf;}
        
                .adress {font-style: normal}
        
                .adress-list {}
        
                .adress-mail {}
        
                .adress-mail-link {
                    
                    color: #434455;
                    font-size: 16px;
                    font-family: Roboto;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    word-wrap: break-word}
        
                .adress-tel {}
        
                .adress-tel-link {
                    color: #434455;
                    font-size: 16px;
                    font-family: Roboto;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    word-wrap: break-word}
/* =====================================================*/



/* =========================MAIN========================*/
        .Effective-Solutions {}

        .Effective-Solutions-title {
        
            color: white;
            font-size: 56px;
            font-family: Roboto;
            font-weight: 700;
            line-height: 1.07;
            letter-spacing: 0.02em;
            word-wrap: break-word
            }

        .oder-servise-btn {
                cursor: pointer;
                color: white;
                font-size: 16px;
                font-family: Roboto;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.04em;
                word-wrap: break-word;
                background-color:#4D5AE5}

        .values {}

        .values-list {}

        .values-item {}

        .values-subtitle {
            color: #2E2F42;
            font-size: 20px;
            font-family: Roboto;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            word-wrap: break-word}

        .values-item-text {color: #434455;
            font-size: 16px;
            font-family: Roboto;
            line-height: 1.5;
            letter-spacing: 0.02em;
            word-wrap: break-word}

        .our-team {}

        .our-team-title {color: #2E2F42;
            font-size: 36px;
            font-family: Roboto;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 1.11;
            letter-spacing: 0.02em;
            word-wrap: break-word}
            
            .our-team-text {
    
                    color: #434455;
                    font-size: 16px;
                    font-family: Roboto;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    word-wrap: break-word}

            .our-team-name {
                    color: #2E2F42;
                    font-size: 20px;
                    font-family: Roboto;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    word-wrap: break-word}

        .our-team-list {}

        .our-team-item {}
       

        .our-portfolio-title {
            color: #2E2F42;
            font-size: 36px;
            font-family: Roboto;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 1.11;
            letter-spacing: 0.02em;
            word-wrap: break-word}

        .our-portfolio-list {}

        .our-portfolio-item {
}

        .our-portfolio-text {
            color: #434455;
            font-size: 16px;
            font-family: Roboto;
            line-height: 1.5;
            letter-spacing: 0.02px;
            word-wrap: break-word}
                
        .our-portfolio-subtitile {
            color: #2E2F42;
            font-size: 20px;
            font-family: Roboto;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            word-wrap: break-word}


/* =====================================================*/


/* =========================FOOTER========================*/
.footer {}

.footer-link {}

.footer-link-web {
    color: #4D5AE5;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 0.54px;
    word-wrap: break-word}

.footer-link-studio {
    color: #F4F4FD;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.16;
    letter-spacing: 0.03em;
    word-wrap: break-word }

.footer-text {

    color: #F4F4FD;
    font-size: 16px;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    background-color: #2E2F42}

/* =====================================================*/